@tailwind base;
@tailwind components;
@tailwind utilities;

/* Prevent layout shifts due to scrollbar */
html {
  overflow-y: scroll;
}

body {
  width: 100vw;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
} 